
.container-home{
    display:grid;
    grid-template-columns: repeat(2,300px);
    grid-template-rows: repeat(2,300px);
    gap: 10px;
    justify-content: center;
    padding: 50px;
    
}

.container-menu{
    display: flex;
    background-color: #fff;
    border: 1px solid red;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease;
    
    
}

.container-menu:hover {
    transform: scale(1.05); /* Ingrandisce leggermente il div */
    background-color: gold; /* Cambia leggermente il colore di sfondo */
    
}