

.navbar{
  background-color: rgb(32, 34, 37);
  overflow: hidden;
  justify-content: space-between;
  padding: 10px 20px;
  position: sticky;
  z-index: 1000;
  align-items: center;
}

.navbar-links{
  display: flex;
  justify-content: flex-end;
  list-style: none;
  margin: 0;
  padding: 0;
  
}

.navbar-links li{
  margin: 0 15px;
}

.navbar-links a{
  text-decoration: none;
  color:aquamarine;
  font-weight: bold;
  transition: color 0.3s;
}

.navbar-links a:hover{
  
  color: blue;
  
}